/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color : #121214;
    -fx-cursor: pointer;
    -fx-align-content: center;
    -fx-text-fill: white;
    -fx-font-color: white;
}
.btn{
    -fx-background-radius : 20px;
    -fx-border-radius : 20px;
    -fx-background-color: #1b828f;
    -fx-padding: 7px;
    -fx-cursor: pointer;
}
.btn:hover{
    -fx-background-radius : 20px;
    -fx-border-radius : 20px;
    -fx-background-color: transparent;
    -fx-padding: 5px;
    -fx-cursor: pointer;
    -fx-border-color:#1b828f ;
}
.sair:hover{
    -fx-text-fill: #38b6ff;
}